*{margin:0;padding:0;box-sizing: border-box;outline: none;}
body{overflow-x:hidden;}
ul,li{
	list-style: none;
}
img{border:none}
a{text-decoration:none;color:#000}
a.active{text-decoration:underline;}

.first-letter{width:3vw !important;float:left;position:relative;top:.5vw}

header{padding-top:4vw;font-size:1.3vw}
header .logo{margin-left:4vw}
header .logo img{height:4.5vw}
header .zn-en{float:right;margin-right:3vw;}
header .nav{display:flex;width:55vw;margin:auto;justify-content:space-between;}
header .nav,header .nav-left{margin-bottom:.8vw}
header .nav-left{margin-left:4vw;margin-top:1.2vw;font-size:1.6vw;}
header .nav-left a{padding-right:1.5vw}

article{width:90vw;font-size:1vw}
article .left60{width:60vw;float:left;text-align:justify;}
article .right45{width:45vw;float:right;}

.line{width:100%;height:.1vw;background:black;margin-top:1vw;clear:both;}
.yx{float:right;margin:1vw 5vw 5vw;height: 3vw}

.clear{width: 100%;clear: both;}
/*footer{
	position: fixed;
	bottom: 0;
	width: 100vw;
}*/